:root{
    --black : #010101;
    --green : #B7EE0C;
    --white : #FFFFFF;
    --headingfont : 'futura-bold';
    --parafont : 'futura-medium';
    --textfont: 'futura-light';
}
@font-face {
    font-family: 'futura-bold';
    src: url('./FUTURA75BOLD.woff2');
}
@font-face {
    font-family: 'futura-medium';
    src: url('./FUTURA65MEDIUM.woff2');
}
@font-face {
    font-family: 'futura-light';
    src: url('./FUTURA65LIGHT.woff2');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--headingfont);
    z-index: 1;
    user-select: none;
}
*::selection{
    background-color: var(--green);
    color: var(--black);
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--black);
    overflow: hidden;
}
main{
    background-color: var(--black);
    position: relative;
}
#loader{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
}
#loadingtext{
    width: fit-content;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 6vw;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.1vw;
}
#loadingtext h1{
    width: fit-content;
    word-wrap: normal;
    color: #B7EE0C;
    font-family: var(--headingfont);
    filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.4));
    font-size: 3vw;
    text-transform: uppercase;
}
#loadingtext h2{
    color: #B7EE0C;
    filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.258));
    font-family: var(--headingfont);
    font-size: 5vw;
}
/* #logo{
    width: 12%;
    height: 12%;
    overflow: hidden;
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
#page1{
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    padding: 0 5vw;
    padding-top: 1.8vw;
    position: relative;
    overflow: hidden;
}
#homeimg{
    position: absolute;
    z-index: 6;
    bottom: -4%;
    right: 28%;
    height:38vw;
    width: 30vw;
}
#homeimg img{
    height:100%;
    width: 100%;
    object-position: 0 -2%;
    object-fit: cover;
    opacity: 0;
}
#panther{
    transition: all 0.4s ease-in-out;
    position: absolute;
    z-index: 0;
    bottom: -0.2;
    right: calc(5vw);
    opacity: 0;
}
.pantherimg{
    width: 65vw;
    height: 55vw;
}
nav{
    height: 4.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    overflow: hidden;
}
#navpart1{
    height: 100%;
    width: 12.5%;
}
#navpart1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#products{
    width: 100vw;
    height: 70%;
    position: absolute;
    background-color: var(--white);
    top: -70%;
    left: 0;
    display: flex;
    z-index: 8;
}
#productsname{
    padding-left: 5vw;
    text-transform: uppercase;
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
}
#productsname h3{
    font-size: 3vw;
}
.shop{
    text-transform: none;
    font-size: 1.2vw;
    color: var(--black);
    margin-right: 1vw;
    opacity: 0;
    display: none;
}
#productphoto{
    padding: 3vw;
    padding-right: 5vw;
    width: 40%;
    height: 100%;
}
#productphoto img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#navpart2{
    height: 100%;
    width: fit-content;
    display: flex;
    letter-spacing: 1.2px;
    align-items: center;
    gap: 1.3vw;
    margin-right: 25vw;
}
#navpart2 h3{
    color:var(--white);
    font-size: 1.3vw;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
#navpart2 h3 i{
    color:var(--white);
    font-size: 1vw; 
}
#navpart2 h3:hover {
    color: rgb(171, 169, 169);
}
#navpart2 h3:hover i{
    color: rgb(171, 169, 169);
}
#navpart3{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: end;
    gap: 1vw;
    align-items: center;
}

#navpart3 i{
    color:var(--white);
    font-size: 2vw;
    transition: all 0.2s ease-out;
}
#menu{
    display: none;
}
#phonemenu{
    display: none;
}
#phonecross{
    display: none;
}
#navpart3 i:hover{
    cursor: pointer;
    color: rgb(171, 169, 169);
}
#homepage{
    width: 100vw;
    height: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5vw;
}
#home1{
    line-height: 0.64;
}
#h3{
    height: 4.5vw;
    overflow: hidden;
}
#home1 h3{
    font-size: 5.9vw;
    font-family: var(--headingfont);
    color: var(--green);
    background-blend-mode: mixed;
    filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.4));
}
#h1{
    overflow: hidden;
    height: 13.4vw;
    word-spacing: 11vw;
}
#home1 h1{
    margin-left: -1.1vw;
    font-size: 18vw;
    letter-spacing: -0.7vw;
    font-family: var(--headingfont);
    color: var(--green);
    filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.4));
}

#home2 {
    display: flex;
    align-items: center;
}
#home2 button{
    padding: 0.8vw 4.3vw;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--green);
   font-family: var(--headingfont);
   font-size: 1.5vw;
   background-color: transparent;
   border: 2px solid var(--green);
   position: relative;
   border-radius: 4px;
   opacity: 0;
   overflow: hidden;
}
#home2 button:after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
}
#home2 button:hover{
    cursor: pointer;
    color: var(--black);
    border-color: var(--black);
}
#home2 button:hover:after{
    background-color: var(--green);
    width: 100%;
}
#page2{
    width: 100vw;
    height: 110vh;
    background-color: var(--black);
    position: relative;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.swiper-slide .circle{
    width: 450px;
    height: 450px;
    background-color: var(--green);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.swiper-slide .photo{
    width: 35vw;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    z-index: 6;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    padding: 0 5vw;
    width: 100%;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text h1{
    font-family: var(--headingfont);
    font-size: 14vw;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--white);
}
.t2{
    font-size: 10vw;
}
.info{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infotext{
    font-family: var(--headingfont);
    font-size: 2.5vw;
    color: var(--white);
    text-transform: uppercase;
}
.info button{
    padding: 0.6vw 3vw;
    font-size: 1.4vw;
    background-color: transparent;
    border: 2px solid #B7EE0C;
    color: var(--green);
    border-radius: 4px;
    margin-top: 0.4vw;
    position: relative;
}
.info button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B7EE0C;
    z-index: -1;
    width: 0;
    transition: all 0.4s ease-out;
}
.info button:hover{
    cursor: pointer;
    color: var(--black);
    border-color: var(--black);
}
.info button:hover::after{
    width: 100%;
}
.show1{
    opacity: 0;
}
.show2{
    opacity: 0;
}

#seccursor{
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    opacity: 0;
}
#seccursor h5 {
    color: whitesmoke;
    font-size: 1.2vw;
    mix-blend-mode: mixed;
}
#page3{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    padding-left: 5vw;
    background-color: var(--white);
    position: relative;
}
#blackscreen{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40%;
    background-color: var(--black);
}
#headingthirdpage{
    padding-right: 5vw;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#headingthirdpage h1{
   color: var(--white);
   font-size: 2.5vw;

}
.productcards{
    width: 100%;
    height: 70%;
    position: relative;
    background-color: var(--white);
}
#blackscreen2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 28.5%;
    background-color: var(--black);
}
#productslist{
   height: 100%;
   width: 100%;
   display: flex;
   position: absolute;
   gap: 0.7vw;
   transform: translate(0%, 0%);
}
.productcard{
    flex-shrink: 0;
    height: 100%;
    width: 23%;
    /* background-color: rgb(193, 175, 212); */
    border: 4px solid var(--black);
    position: relative;
}
.uppercard{
    width: 100%;
    height: 60%;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}
.productpanther{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.uppercard img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: all 0.2s linear ;
}
.productcard:hover .productimage{
    scale: 1.05;
}
.productcard:hover .productpanther{
    filter: drop-shadow(0 0 20px rgba(183, 238, 12, 1)) drop-shadow(0 0 5px rgba(183, 238, 12, 0.8));
}
.lowercard{
    width: 100%;
    height: 40%;
}
.lower1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.lower1 h1{
    font-size: 1.2vw;
}
.lower1 h2{
    text-align: center;
    font-size: 1.1vw;
}
.lower2{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
s{
    font-size: 1vw;
    margin-right: 0.4vw;
}
.lower3{
    width: 100%;
    height: 40%;
    /* background-color: rgb(205, 21, 174); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.lower3 button{
    padding: 0.6vw 5.5vw;
    font-size: 1.3vw;
    background-color: black;
    border: 2px solid #fefefe;
    font-weight: bold;
    color: var(--white);
    border-radius: 4px;
    margin-top: 0.4vw;
    position: relative;
}
.lower3 button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B7EE0C;
    z-index: -1;
    width: 0;
    transition: all 0.4s ease-out;
}
.lower3 button:hover{
    cursor: pointer;
    color: var(--black);
    border-color:var(--green);
}
.lower3 button:hover::after{
    width: 100%;
}
#creatinetext{
    padding: 0 2vw;
}
.lrbutton{
    width: 100%;
    height: 10%;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}
#leftsidebutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftsidebutton i{
    font-size: 2.5vw;
    color: var(--white);
}
#rightsidebutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightsidebutton i{
    font-size: 2.5vw;
    color: var(--white);
}
#page4{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    padding: 1.2vw 5vw;
}
#leftpart{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}
#leftpart1, #leftpart2, #leftpart3{
    overflow: hidden;
}
#leftpart h1{
    font-size: 5vw;
}
#leftpart3 {
    position: relative;
    height: 5.7vw;
}
#leftpart3 h1{
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 12px;
    text-decoration-color: #b5ee0cd7; 
}

#leftpart4{
    margin-top: 2vw;
}
#leftpart4 button{
    padding: 0.8vw 3.2vw;
    font-size: 1.3vw;
    background-color: black;
    font-weight: bold;
    color: var(--white);
    border-radius: 5px;
    margin-top: 0.02vw;
    position: relative;
}
#leftpart4 button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B7EE0C;
    z-index: -1;
    width: 0;
    transition: all 0.4s ease-out;
}
#leftpart4 button:hover{
    cursor: pointer;
    color: var(--black);
    border-color: white;
}
#leftpart4 button:hover::after{
    width: 100%;
}
#rightpart{
    width: 50%;
    height: 100%;
    background-color: rgb(25, 57, 57);
    position: relative;
}
#liftpart{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute ;
}
#liftpart img{
    opacity: 0.6;
}
#rightpart video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* #videocursor{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999;
    color: #B7EE0C;
}
#videocursor h5{
    font-size: 0.7vw;
    mix-blend-mode: difference;
} */
#page45{
    width: 100vw;
    height: 20vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5vw;
}
#page45 h1{
    color: var(--white);
    font-size: 4vw;
}
#page5{
    width: 100vw;
    height: 110vh;
    background-color: var(--black);
    padding: 1.5vw 5vw;
}

#p5part3{
    width: 85%;
    height: 73%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.p5mySwiper2{
    width: 100%;
    height: 100%;
}
.p5swiper-wrapper{
    width: 100%;
    height: 100%;
}
.p5swiper-wrapper2{
    width: 100%;
    height: 100%;
}
.p5swiper{
    width: 100%;
    height: 25%;
}
.p5slide{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
}
.slideleftpart{
    width: 40%;
    height: 100%;
    position: relative;
}
.soundbox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--black);
    border: 2px solid var(--white);
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.soundbox i{
    font-size: 1.6vw;
    color: var(--white);
    display: none;
}
.soundoff i{
    display: block;
}
.slideleftpart video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
}
.sliderightpart{
    width: 60%;
    height: 100%;
    /* background-color: #7a9725; */
    padding: 1vw;
}
.imgcontainer{
    width: 100%;
    height: 57%;
    background-color: blanchedalmond;
}
.image{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
.prev{
    left: 5%;  
}
.next{
    right: 5%;
}
.namepricing{
    width: 100%;
    height: 13%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.namepricing h2{
    text-align: left;
    font-size: 1.7vw;
}
.smallpara h2{
    font-size: 1.5vw;
}
.namepricing h4{
    text-align: left;
    font-size: 1.5vw;
}
.namepricing s{
    color: #787777;
}
.description {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 0.3vw;

}
.description h2{
    font-size: 1.6vw;
}
.description p{
    font-size: 1vw;
    text-align: left;
    line-height: 1.3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.buttons{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.buttons button{
    font-size: 1.3vw;
    padding: 0.4vw 2vw;
    border: 3px solid rgb(99, 96, 96);
    background-color: var(--white);
    border-radius: 4px;
    transition: all 0.4 linear;
    position: relative;
}
.buttons button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: -1;
    width: 0;
    transition: all 0.4s ease-out;
}
.buttons button:hover{
    cursor: pointer;
    color: var(--white);
    border-color: white;
}
.green button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B7EE0C;
    z-index: -1;
    width: 0;
    transition: all 0.4s ease-out;
}
.green button{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
    padding: 0.4vw 2.4vw;
}
.green button:hover{
    color: var(--black);
}
.buttons button:hover::after{
    width: 100%;
}
.p5slide img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    background-color: #ffffff;
    margin-bottom: -1vw;
}
.p5slide h1{
    width: 100%;
    height: 30%;
    font-size: 1.5vw;
    text-transform: uppercase;
}
.justgap{
    margin-top: 0.2vw;
}

.image2{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image2 img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image2 img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image2 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
.image3{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image3 img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image3 img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image3 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
.image4{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image4 img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image4 img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image4 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
.image5{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image5 img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image5 img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image5 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
.image6{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: var(--black);
}
.image6 img{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.image6 img.displaySlide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--black);
}
.image6 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.3vw 1vw;
    font-size: 2vw;
    background-color: var(--black);
    color: white;
    border: 2px solid var(--black);
}
#page6{
    width: 100vw;
    height: 100vh;
    background-color:black;
    padding: 1.5vw 5vw;
    display: flex;
    position: relative;
}
#page6 #lefttext6{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#lefttext6 h1{
    font-size: 4vw;
    line-height: 1;
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#lefttext6 h1 span{
    font-size: 4.4vw;
    color: var(--green);
    filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.4));
}
#lefttext6 button{
    padding: 0.7vw 3vw;
    font-size: 1.4vw;
    background-color: var(--green);
    color: var(--black);
    border-radius: 5px;
    margin-top: 1vw;
    position: relative;
    border: 2px solid var(--green);
}
#lefttext6 button::after{
    content : "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: -1;
    border: 2px solid var(--green);
    width: 0;
    transition: all 0.4s ease-out;
}
#lefttext6 button:hover{
    cursor: pointer;
    color: var(--white);
    border-color: var(--black);
}
#lefttext6 button:hover::after{
    width: 100%;
}
#rightplace2{
    width: 50%;
    height: 100%;
    opacity: 0;
    will-change: height;
    position: relative;
    transform: translateY(140%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#rightpart1{
    width: 85%;
    height: 30%;
    border-radius: 4px;
    overflow: hidden;
}
#rightpart1:hover .uppart img{
   scale: 1.02; 
}
#rightpart1:hover .downpart:hover h3{
    scale: 1.02; 
 }
.uppart{
    width: 100%;
    height: 60%;
}
.uppart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.downpart{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: whitesmoke;
}
.downpart h3{
    width: 80%;
    font-size: 1.4vw;
    line-height: 1.25;
    color: black;
}

.downpart .circle3{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}
.circle3:hover{
    background-color: #010101;
}
.downpart .circle3 i{
    font-size: 1.3vw;
    color: var(--black);
}
.circle3:hover i{
    font-size: 1.3vw;
    color: var(--green);   
}
#rightpart2{
    width: 85%;
    height: 30%;
    border-radius: 4px;
    overflow: hidden;
}
#rightpart2:hover .uppart img{
    scale: 1.02; 
 }
 #rightpart2:hover .downpart:hover h3{
     scale: 1.02; 
  }
#rightpart3{
    width: 85%;
    height: 30%;
    border-radius: 4px;
    overflow: hidden;
}
#rightpart3:hover .uppart img{
    scale: 1.02; 
 }
 #rightpart3:hover .downpart:hover h3{
     scale: 1.02; 
  }
#page7{
    width: 100vw;
    height: 100vh;
    background-color:var(--black);
    padding: 2vw 5vw;
    display: flex;
}
#partleft7{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#partleft7 h1{
    color: var(--white);
    font-size: 3vw;
    line-height: 1;
}
#partleft7 h3{
    color: var(--white);
    font-size: 2vw;
    line-height: 1.2;
    margin-top: 2vw;
}
#partleft7 span{
    color: var(--green);
    font-size: 3vw;
    line-height: 1;
}
#partleft7 a{
    text-decoration: none;
    color: var(--green);
    font-size: 3vw;
    line-height: 1;
}
#partleft7 h4{
    color: var(--white);
    font-size: 1.6vw;
    line-height: 1.2;
    margin-top: 2vw;
}
#partright7 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#partright7 img{
    height: 60%;
    width: 60%;
    object-fit: cover;
}

@media(max-width:600px){

    #loadingtext{
        align-items: center;
    }
    #loadingtext h1{
        font-size: 5.3vw;
    }
    #loadingtext h2{
        font-size: 12vw;
    }

    #page1{
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--black);
        padding: 0 5vw;
        padding-top: 2.5vw;
        position: relative;
        overflow: hidden;
    }
    #homeimg{
        position: absolute;
        z-index: 6;
        bottom: 0%;
        left: 50%;
        transform: translateX(-55%);
        height:88vw;
        width: 88vw;
    }
    #homeimg img{
        height:100%;
        width: 100%;
        object-position: 0 -2%;
        object-fit: cover;
        opacity: 0;
    }
    #panther{
        transition: all 0.4s ease-in-out;
        position: absolute;
        z-index: -1;
        bottom: 0%;
        right: -5vw;
        opacity: 0;
        width: 108vw;
        height: 108vw;
    }
    .pantherimg{
        height: 100%;
        width: 100%;
    }
    nav{
        height: 15vw;
    }
    #navpart1{
        width: 35%;
    }
    #navpart1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #products{
        display: none;
    }
    #navpart2{
        display: none;
    }
    #navpart3{
        width: 10%;
        gap: 1.9vw;
    }
    
    #navpart3 i{
        font-size: 7vw;
        transition: all 0.3s linear;
    }
    #profile{
        display: none;
    }
    #menu{
        display: block;
    }
    #phonemenu{
        display: initial;
        width: 100vw;
        height: 100vh;
        background-color: #010101bb;
        backdrop-filter: blur(13px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        transform: translateX(calc(100vh - 5vw));
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 3vw;
        padding: 35vw 5vw;
    }
    #phonemenu h3 {
        color: var(--white);
        font-size: 7vw;
    }
    #phonecross{
        display: block;
        background-color: #B7EE0C;
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 3%;
        right: 5%;
        z-index: 10;
    }
    #phonecross i{
        font-size: 7vw;
    }
    #homepage{
        height: 49vh;
        gap: 7.5vw;
    }
    #home1{
        line-height: 0.8;
    }
    #h3{
        height: 13vw;
    }
    #home1 h3{
        font-size: 15vw;
    }
    #h1{
        height: 49vw;
        word-spacing: 3vw;
    }
    #home1 h1{
        font-size: 30vw;
        letter-spacing: -0.7vw;
    }
    
    #home2 button{
       padding: 2vw 6.5vw;
       font-size: 4.3vw;
    }

    #page2{
        width: 100vw;
        height: 70vh;
        background-color: var(--black);
        position: relative;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .swiper-slide .circle{
        width: 210px;
        height: 210px;
        background-color: var(--green);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .swiper-slide .photo{
        width: 55vw;
        height: 50vw;
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1vw;
        z-index: 6;
    }
    .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text{
        padding: 0 5vw;
        width: 100%;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text h1{
        font-family: var(--headingfont);
        font-size: 12.3vw;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--white);
    }
    .t2{
        font-size: 10vw;
    }
    .info{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .infotext{
        font-family: var(--headingfont);
        font-size: 6.5vw;
        color: var(--white);
        text-transform: uppercase;
    }
    .info button{
        padding: 0.8vw 4vw;
        font-size: 4vw;
        background-color: transparent;
        border: 2px solid #B7EE0C;
        color: var(--green);
        border-radius: 4px;
        margin-top: 1.6vw;
        position: relative;
    }

    #page3{
        height: 60vh;
    }
    #blackscreen{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 40%;
        background-color: var(--black);
    }
    #headingthirdpage{
        padding-right: 5vw;
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    #headingthirdpage h1{
       color: var(--white);
       font-size: 6.5vw;
    
    }
    .productcards{
        width: 100%;
        height: 60%;
        position: relative;
        background-color: var(--white);
    }
    #blackscreen2{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 28.5%;
        background-color: var(--black);
    }
    #productslist{
       height: 100%;
       width: 100%;
       display: flex;
       position: absolute;
       gap: 1.3vw;
       transform: translate(0%, 0%);
    }
    .productcard{
        flex-shrink: 0;
        height: 100%;
        width: 50%;
        /* background-color: rgb(193, 175, 212); */
        border: 4px solid var(--black);
        position: relative;
    }
    .uppercard{
        width: 100%;
        height: 50%;
        background-color: #FFFFFF;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .productpanther{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .uppercard img{
        width: 70%;
        height: 70%;
        object-fit: cover;
        transition: all 0.2s linear ;
    }
    .productcard:hover .productimage{
        scale: 1.05;
    }
    .productcard:hover .productpanther{
        filter: drop-shadow(0 0 20px rgba(183, 238, 12, 1)) drop-shadow(0 0 5px rgba(183, 238, 12, 0.8));
    }
    .lowercard{
        width: 100%;
        height: 50%;
    }
    .lower1{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    }
    .lower1 h1{
        font-size: 2.9vw;
    }
    .lower1 h2{
        text-align: center;
        font-size: 2.7vw;
    }
    .lower2{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    s{
        font-size: 3vw;
        margin-right: 0.4vw;
    }
    .lower3{
        width: 100%;
        height: 40%;
        /* background-color: rgb(205, 21, 174); */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lower3 button{
        padding: 1.3vw 5.5vw;
        font-size: 2.6vw;
        background-color: black;
        border: 2px solid #fefefe;
        font-weight: bold;
        color: var(--white);
        border-radius: 4px;
        margin-top: 0.5vw;
        position: relative;
    }
    .lower3 button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #B7EE0C;
        z-index: -1;
        width: 0;
        transition: all 0.4s ease-out;
    }
    .lower3 button:hover{
        cursor: pointer;
        color: var(--black);
        border-color:var(--green);
    }
    .lower3 button:hover::after{
        width: 100%;
    }
    #creatinetext{
        padding: 0 2vw;
    }
    .lrbutton{
        width: 100%;
        height: 10%;
        padding-right: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vw;
        gap: 1.5vw;
    }
    #leftsidebutton{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--black) ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #leftsidebutton i{
        font-size: 3.7vw;
        color: var(--white);
    }
    #rightsidebutton{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--black) ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #rightsidebutton i{
        font-size: 3.7vw;
        color: var(--white);
    }
    #page4{
        width: 100vw;
        height: 100vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        padding: 1.4vw 5vw;
    }
    #leftpart{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
    }
    #leftpart1, #leftpart2, #leftpart3{
        overflow: hidden;
    }
    #leftpart h1{
        font-size: 15vw;
    }
    #leftpart3 {
        position: relative;
        height: 35.7vw;
    }
    #leftpart3 h1{
        position: relative;
        text-decoration: underline;
        text-decoration-thickness: 8px;
        text-decoration-color: #b5ee0cd7; 
    }
    
    #leftpart4{
        margin-top: 4vw;
    }
    #leftpart4 button{
        padding: 2.3vw 4.9vw;
        font-size: 4.3vw;
        background-color: black;
        font-weight: bold;
        color: var(--white);
        border-radius: 5px;
        margin-top: 0.02vw;
        position: relative;
    }
    #leftpart4 button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #B7EE0C;
        z-index: -1;
        width: 0;
        transition: all 0.4s ease-out;
    }
    #leftpart4 button:hover{
        cursor: pointer;
        color: var(--black);
        border-color: white;
    }
    #leftpart4 button:hover::after{
        width: 100%;
    }
    #rightpart{
        width: 100%;
        height: 100%;
        background-color: rgb(25, 57, 57);
        position: relative;
    }
    #liftpart{
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute ;
    }
    #liftpart img{
        width: 150px;
        height: 150px;
        opacity: 0.6;
        object-fit: cover;
    }
    #rightpart video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #page45{
        width: 100vw;
        height: 15vh;
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 5vw;
    }
    #page45 h1{
        color: var(--white);
        font-size: 12vw;
    }
    #page5{
        width: 100vw;
        height: 65vh;
        background-color: var(--black);
        padding: 1.5vw 5vw;
    }
    
    #p5part3{
        width: 100%;
        height: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
    }
    .p5mySwiper2{
        width: 100%;
        height: 100%;
    }
    .p5swiper-wrapper{
        width: 100%;
        height: 100%;
    }
    .p5swiper-wrapper2{
        width: 100%;
        height: 100%;
    }
    .p5swiper{
        width: 100%;
        height: 15%;
    }
    .p5slide{
        width: 100%;
        height: 100%;
        background-color: var(--white);
        display: flex;
    }
    .slideleftpart{
        width: 50%;
        height: 100%;
        position: relative;
    }
    .soundbox{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--black);
        border: 2px solid var(--white);
        position: absolute;
        top: 2%;
        right: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.9;
    }
    .soundbox i{
        font-size: 4.2vw;
        color: var(--white);
        display: none;
    }
    .soundoff i{
        display: block;
    }
    .slideleftpart video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 20%;
    }
    .sliderightpart{
        width: 50%;
        height: 100%;
        /* background-color: #7a9725; */
        padding: 1vw;
    }
    .imgcontainer{
        width: 100%;
        height: 50%;
        background-color: blanchedalmond;
    }
    .image{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    .prev{
        left: 5%;  
    }
    .next{
        right: 5%;
    }
    .namepricing{
        width: 100%;
        height: 20%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .namepricing h2{
        text-align: left;
        font-size:3.7vw;
    }
    .smallpara h2{
        font-size: 3.2vw;
    }
    .namepricing h4{
        text-align: left;
        font-size: 5vw;
    }
    .namepricing s{
        color: #787777;
    }
    .description {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        padding-top: 0.3vw;
    
    }
    .description h2{
        font-size: 4.6vw;
    }
    .description p{
        font-size: 2.3vw;
        text-align: left;
        line-height: 1.2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }
    .buttons{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
    }
    .buttons button{
        font-size: 2.8vw;
        padding: 0.8vw 2vw;
        border: 3px solid rgb(99, 96, 96);
        background-color: var(--white);
        border-radius: 4px;
        transition: all 0.4 linear;
        position: relative;
    }
    .buttons button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--black);
        z-index: -1;
        width: 0;
        transition: all 0.4s ease-out;
    }
    .buttons button:hover{
        cursor: pointer;
        color: var(--white);
        border-color: white;
    }
    .green button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #B7EE0C;
        z-index: -1;
        width: 0;
        transition: all 0.4s ease-out;
    }
    .green button{
        background-color: var(--black);
        color: var(--white);
        border: 2px solid var(--black);
        padding: 0.7vw 2.4vw;
        margin-bottom: 3px;
    }
    .green button:hover{
        color: var(--black);
    }
    .buttons button:hover::after{
        width: 100%;
    }
    .p5slide img{
        width: 100%;
        height: 70%;
        object-fit: contain;
        background-color: #ffffff;
        margin-bottom: -1vw;
    }
    .p5slide h1{
        width: 100%;
        height: 30%;
        font-size: 2.5vw;
        text-transform: uppercase;
    }
    .justgap{
        margin-top: 0.2vw;
    }
    
    .image2{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image2 img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image2 img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image2 button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    .image3{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image3 img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image3 img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image3 button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    .image4{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image4 img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image4 img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image4 button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    .image5{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image5 img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image5 img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image5 button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    .image6{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: auto;
        background-color: var(--black);
    }
    .image6 img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    .image6 img.displaySlide{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: var(--black);
    }
    .image6 button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.3vw 1vw;
        font-size: 2vw;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
    }
    #page6{
        width: 100vw;
        height: 100vh;
        background-color:black;
        padding: 1.5vw 5vw;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #page6 #lefttext6{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #lefttext6 h1{
        font-size: 9vw;
        line-height: 1;
        color: var(--white);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #lefttext6 h1 span{
        font-size: 10.4vw;
        color: var(--green);
        filter: drop-shadow(0 0 20px rgba(181, 238, 12, 0.4));
    }
    #lefttext6 button{
        padding: 1.7vw 6vw;
        font-size: 4vw;
        background-color: var(--green);
        color: var(--black);
        border-radius: 5px;
        margin-top: 3vw;
        position: relative;
        border: 2px solid var(--green);
    }
    #lefttext6 button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--black);
        z-index: -1;
        border: 2px solid var(--green);
        width: 0;
        transition: all 0.4s ease-out;
    }
    #lefttext6 button:hover{
        cursor: pointer;
        color: var(--white);
        border-color: var(--black);
    }
    #lefttext6 button:hover::after{
        width: 100%;
    }
    #rightplace2{
        width: 100%;
        height: 80%;
        opacity: 0;
        will-change: height;
        position: relative;
        transform: translateY(240%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #rightpart1{
        width: 100%;
        height: 25%;
        border-radius: 4px;
        overflow: hidden;
    }
    #rightpart1:hover .uppart img{
       scale: 1.02; 
    }
    #rightpart1:hover .downpart:hover h3{
        scale: 1.02; 
     }
    .uppart{
        width: 100%;
        height: 60%;
    }
    .uppart img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .downpart{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vw;
        background-color: whitesmoke;
    }
    .downpart h3{
        width: 80%;
        font-size: 3.6vw;
        line-height: 1.25;
        color: black;
    }
    
    .downpart .circle3{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: var(--green);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
    }
    .circle3:hover{
        background-color: #010101;
    }
    .downpart .circle3 i{
        font-size: 4.3vw;
        color: var(--black);
    }
    .circle3:hover i{
        font-size: 1.3vw;
        color: var(--green);   
    }
    #rightpart2{
        width: 100%;
        height: 25%;
        border-radius: 4px;
        overflow: hidden;
    }
    #rightpart2:hover .uppart img{
        scale: 1.02; 
     }
     #rightpart2:hover .downpart:hover h3{
         scale: 1.02; 
      }
    #rightpart3{
        width: 100%;
        height: 25%;
        border-radius: 4px;
        overflow: hidden;
    }
    #rightpart3:hover .uppart img{
        scale: 1.02; 
     }
    #rightpart3:hover .downpart:hover h3{
         scale: 1.02; 
    }
    #page7{
        width: 100vw;
        height: 50vh;
        background-color:var(--black);
        padding: 2vw 5vw;
        display: flex;
    }
    #partleft7{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #partleft7 h1{
        color: var(--white);
        font-size: 6vw;
        line-height: 1;
    }
    #partleft7 h3{
        color: var(--white);
        font-size: 4.5vw;
        line-height: 1.2;
        margin-top: 6vw;
    }
    #partleft7 span{
        color: var(--green);
        font-size: 8vw;
        line-height: 1;
    }
    #partleft7 a{
        text-decoration: none;
        color: var(--green);
        font-size: 8vw;
        line-height: 1;
    }
    #partleft7 h4{
        color: var(--white);
        font-size: 3.6vw;
        line-height: 1.2;
        margin-top: 5vw;
    }
    #partright7 {
        display: none;
    }
    
    
}

@media (min-width:601px) and  ( max-width:1300px){

    #loadingtext{
        align-items: center;
    }
    #loadingtext h1{
        font-size: 5.3vw;
    }
    #loadingtext h2{
        font-size: 12vw;
    }

    #homeimg{
        position: absolute;
        z-index: 6;
        bottom: 0%;
        left: 50%;
        transform: translateX(-55%);
        height:55vw;
        width: 55vw;
    }
    #homeimg img{
        height:100%;
        width: 100%;
        object-position: 0 -2%;
        object-fit: cover;
        opacity: 0;
    }
    #panther{
        transition: all 0.4s ease-in-out;
        position: absolute;
        z-index: -1;
        bottom: 0%;
        right: 5vw;
        opacity: 0;
        width: 75vw;
        height: 75vw;
    }
    .pantherimg{
        height: 100%;
        width: 100%;
    }
    nav{
        height: 10vw;
    }
    #navpart1{
        width: 25%;
    }
    #navpart1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #products{
        display: none;
    }
    #navpart2{
        display: none;
    }
    #navpart3{
        width: 10%;
        gap: 1.9vw;
    }
    
    #navpart3 i{
        font-size: 5vw;
        transition: all 0.3s linear;
    }
    #profile{
        display: none;
    }
    #menu{
        display: block;
    }
    #phonemenu{
        display: initial;
        width: 100vw;
        height: 100vh;
        background-color: #010101bb;
        backdrop-filter: blur(13px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        transform: translateX(calc(100vh - 5vw));
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 3vw;
        padding: 35vw 5vw;
    }
    #phonemenu h3 {
        color: var(--white);
        font-size: 5vw;
    }
    #phonecross{
        display: block;
        background-color: #B7EE0C;
        width: 70px;
        height: 70px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 6%;
        right: 8%;
        z-index: 10;
    }
    #phonecross i{
        font-size: 6vw;
    }
    #homepage{
        height: 49vh;
        gap: 4vw;
    }
    #home1{
        line-height: 0.7;
    }
    #h3{
        height: 10vw;
    }
    #home1 h3{
        font-size: 9vw;
    }
    #h1{
        height: 25vw;
        word-spacing: 1vw;
    }
    #home1 h1{
        font-size: 20vw;
        letter-spacing: -0.7vw;
    }
    
    #home2 button{
        margin-top: -10vw;
       padding: 1.3vw 5.5vw;
       font-size: 3vw;
    }

    #page2{
        width: 100vw;
        height: 100vh;
        background-color: var(--black);
        position: relative;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .swiper-slide .circle{
        width: 150px;
        height: 150px;
        background-color: var(--green);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .swiper-slide .photo{
        width: 35vw;
        height: 30vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1vw;
        z-index: 6;
    }
    .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .text{
        padding: 0 5vw;
        width: 100%;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text h1{
        font-family: var(--headingfont);
        font-size: 14vw;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--white);
    }
    .t2{
        font-size: 10vw;
    }
    .info{
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .infotext{
        font-family: var(--headingfont);
        font-size: 2.5vw;
        color: var(--white);
        text-transform: uppercase;
    }
    .info button{
        padding: 0.6vw 3vw;
        font-size: 1.4vw;
        background-color: transparent;
        border: 2px solid #B7EE0C;
        color: var(--green);
        border-radius: 4px;
        margin-top: 0.4vw;
        position: relative;
    }
    .info button::after{
        content : "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #B7EE0C;
        z-index: -1;
        width: 0;
        transition: all 0.4s ease-out;
    }
    .info button:hover{
        cursor: pointer;
        color: var(--black);
        border-color: var(--black);
    }
    .info button:hover::after{
        width: 100%;
    }
    .show1{
        opacity: 0;
    }
    .show2{
        opacity: 0;
    }
    
    #seccursor{
        border-radius: 50%;
        position: absolute;
        z-index: 999;
        opacity: 0;
    }
    #seccursor h5 {
        color: whitesmoke;
        font-size: 1.2vw;
        mix-blend-mode: mixed;
    }
    
}

