:root{
    --black : #010101;
    --green : #B7EE0C;
    --white : #FFFFFF;
    --headingfont : 'futura-bold';
    --parafont : 'futura-medium';
    --textfont: 'futura-light';
}
@font-face {
    font-family: 'futura-bold';
    src: url('./fonts/FUTURA75BOLD.woff2');
}
@font-face {
    font-family: 'futura-medium';
    src: url('./fonts/FUTURA65MEDIUM.woff2');
}
@font-face {
    font-family: 'futura-light';
    src: url('./fonts/FUTURA45LIGHT.woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: burlywood;
}
#move1{
    height:19vw;
    background-color:rgb(14, 14, 14);
    display: flex;
    overflow: hidden;
}
.marque{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    transform: translateX(-100%);
}
.marque h1{
    font-size: 5vw;
    color: var(--green);
    
}
.marque :nth-child(2){
    text-shadow: 0px 0px 8px  #596437,
                 0px 0px 9px  #4e5b29,
                 0px 0px 10px  #535f2d,
                 0px 0px 11px  #434b29;
}
.marque :nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px green;
    font-style: italic;

}
.marque :nth-child(3){
    color: transparent;
    -webkit-text-stroke: 1px green;
    font-style: italic;
}

#page2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: black;
}
#div1{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows:15% 10% 10% 10% 7% 12% 14%;
}
#div11{
    display: flex;
    align-items: flex-end;
    padding-left: 5vw;
    overflow: hidden;
    gap: 10px;
}
#div11 h1{
    font-size: 4.1vw;
    color: #C5F335;
    font-family: var(--headingfont);
    text-shadow: 0px 0px 8px  #596437,
                 0px 0px 9px  #4e5b29,
                 0px 0px 10px  #535f2d,
                 0px 0px 11px  #434b29;}
                
#div12{
    display: flex;
    /* align-items: center; */
    padding-left: 5vw;
    overflow: hidden;
    flex-direction: column;
    
}
#div12 h4{
    color: white;
    font-family: var(--parafont);
    font-size: 1.9vw;
    font-weight: 500;
}
#div13{
    /* background-color: rgb(125, 89, 223); */
    padding-left: 5vw;
    display: flex;
    align-items: flex-end;
    gap: 15vw;
}
#div13 h4{
    color: white;
    font-family: var(--parafont);
    font-size: 1.5vw;
    font-weight: 500;
}
#div14{
    /* background-color: rgb(237, 28, 5); */
    padding-left: 5vw;
    padding-top: 0.5vw;
    display: flex;
    gap: 2.5vw;
}
#div14 input{
    padding-left: 1vw;
    width: 45%;
    height: 3.8vw;
    border-radius: 6px;
    font-size: 1.6vw;
    /* border: 2px solid var(--green); */
    background-color: #f8f4f4;


}
#div15{
    /* background-color: rgb(238, 175, 189); */
    padding-left: 5vw;
    display: flex;
    align-items: flex-end;
}
#div15 h4{
    color: white;
    font-family: var(--parafont);
    font-size: 1.5vw;
    font-weight: 500;
}
#div16{
    /* background-color: rgb(20, 198, 14); */
    padding-left: 5vw;
}
#div16 input{
    padding-left: 1vw;
    width: 95%;
    height: 3.8vw;
    border-radius: 6px;
    font-size: 1.6vw;

}
#div17{
    padding-left: 5vw;
    /* background-color: aqua; */
}
#div17 h4{
    color: white;
    font-family: var(--parafont);
    font-size: 1.5vw;
    font-weight: 500;
}
#div17 input{
    padding-left: 1vw;
    width: 95%;
    height: 3.8vw;
    border-radius: 6px;
    font-size: 1.6vw;

}

#div18{
    /* background-color: rgb(0, 141, 94); */
    padding-left: 5vw;
    padding-top: 0.6vw;
    
}
#div18 button{
    width: 95%;
    height: 3.8vw;
    border-radius: 10px;
    font-size: 1.6vw;
    background-color: var(--black);
    border: 2px solid var(--green);
    color: #FFFFFF;
}
#div18 button:hover{
    background-color:var(--green);
    color: #010101;
    transition:ease-in-out;
    transition-duration: 0.6s;
    font-size: 2vw;
}

#div2{
    /* background-color: bisque; */
    height: 100%;
    width: 100%;
    position: relative;
}
#div2 img{
    position: absolute;
    z-index: 1;
}
#img1{
    height: 100%;
    width: 100%;
    background-color: #010101;
}
#img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(134, 192, 246);
}

